# Игнорировать каталоги и файлы node_modules
node_modules/

# Игнорировать файлы временных данных и IDE
*.log
*.tmp
*.swp
.idea/

# Игнорировать системные файлы
.DS_Store

# Игнорировать файлы конфигурации среды
.env
